* {
    scroll-behavior: smooth;
}

body {
    background-color: #1C3144;
    color: #E7E7E7;
}

.conteiner {
    width: 600px;
    border: 2px solid #D00000;
    border-radius: 5px;
    text-align: center;
    margin: 0px auto;
}

#inicio {
    background-color: #D00000;
}

.nome-completo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.descricao-perfil {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    color: #3F88C5;
    font-weight: bold;
}

ol {
    list-style-type: none;
}

img {
    box-shadow: 5px 5px 8px black;
}