* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C3144;
    color: #E7E7E7;
}


.conteiner-principal {
    width: 500px;
    border: 2px solid #D00000;
    padding: 20px;
    margin: 0px auto;
}


#inicio {
    background-color: #D00000;
    padding: 10px;
    text-align: center;
}

.conteiner-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

.conteiner-photo img {
    border-radius: 5px;
}

.conteiner-description {
    width: 50%;
    margin-left: 15px;
    letter-spacing: .5px;
    position: absolute;
    top: 220px;
}

.display-inline {
    display: inline-block;
}

.descricao-perfil {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.conteiner-habilidades {
    text-align: center;
    margin: 10px 0px;
    padding: 10px 0px;
}

.conteiner-link-youtube {
    padding: 10px 0px;
    margin: 10px 0px;
    text-align: center;
    line-height: 1.3em;
}

.conteiner-link-youtube p {
    margin-bottom: 5px;
}

.conteiner-links {
    padding: 10px 0px;
    margin: 10px 0px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #3F88C5;
    font-weight: bold;
}

a:hover {
    color: #89b7dc;
    transition: .2s all ease-out;
}

ol {
    list-style-type: none;
}

img {
    box-shadow: 5px 5px 8px black;
}