.Home-Page {
  height: 100vh;
  width: 100%;
}

.Header {
  background: #202024;
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  width: 100%;
}

.Nav-Bar {
  width: 39%;
}

.Nav-Bar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Nav-Bar ul a {
  font-weight: 500;
  color: #fdfdfd;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.Nav-Bar ul a:hover {
  color: #5d2de2;
}

.Main-Content {
  display: flex;
  justify-content: space-around;
  height: 75%;
  width: 100%;
}

.Main-Content .Contacte-Me-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.Introduction {
  font-size: 1.5em;
}

.Student-Web {
  font-weight: 500;
}

.Main-Content .Blob-svg {
  display: flex;
  align-items: center;
  width: 45%;
}

.Main-Content .Blob {
  position: relative;
  width: 100%;
}

.Btn-Whatsapp {
  background: #e3d42d;
  font-size: 1em;
  color: #202024;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  outline: none;
  border: none;
  border-radius: 0.5em;
  margin-top: 10%;
  margin-left: 16%;
  height: 3.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
}

.Btn-Whatsapp:hover {
  background: #ffef3c;
}

.whats {
  margin-left: 0.3em;
}

.Scrool-Text {
  margin-top: -1em;
  margin-bottom: 0.5em;
}

.seta {
  color: #5d2de2;
  height: 5.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Mouse-Seta {
  color: #5d2de2;
}
